.main{
    height:50%;
    width: 45%;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background:linear-gradient(135deg ,#FCC465 0%,#FF66B5 100%);

}
.heading{
    background:linear-gradient(135deg ,#FCC465 0%,#FF66B5 100%);
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: papyrus;
    font-weight: 900;
    color: white;
    
}
.add{
    background-color: #EBA9A8;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.event{
    height: 100%;
    width: 45%;
    background-color: #EBA9A8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.date{
    width: 25%;
    height: 100%;
    background-color: #EBA9A8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addButton{
    width:30%;
    height: 100%;
    background-color: #EBA9A8;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.list{
    background-color: #EBA9A8;
    
    width: 100%;
    height:60%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: auto; 
    overflow-x: hidden; 
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
    
}

/* scrolling */
.list::-webkit-scrollbar {
    width: 10px;
}

.list::-webkit-scrollbar-track {
    background: #d89695;
}

.list::-webkit-scrollbar-thumb {
    background: #131429;
    border-radius: 5px;
}

.list::-webkit-scrollbar-thumb:hover {
    background: #5A4483;
}

.todo{
    width: 80%;
    min-height: 15%; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0; 
    flex-shrink: 0; 
    border-left: 15px solid #FF6AB1;
    border-radius: 5px;
    
    
    
}
.task{
    width: 45%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
}

.dateTask{
    width: 25%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
}
.delete{
    width: 30%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.buttonADD{
    border-radius: 20px;
    background:linear-gradient(135deg ,#A6F9B1 0%,#2CF9EB 100%);
    color: white;
    font-weight: 900;
    border-style: none;
}
.deleteButton{
    background:linear-gradient(135deg ,#B21A14 0%,#252525 100%);
    color: white;
    border-radius: 20px;
    font-weight: 900;
    border-style: none;
    transform: translateX(40px);
}
.todoItem{
    padding: 10px;
    font-weight: 15px;
    border-radius: 20px;
    border-style: none;
    
}
.todoDate{
    padding: 10px;
    border-radius: 20px;
    border-style: none;
}